$red: #588EF7
$light_red: #EEA6A1
$main_cream: #F4F5F8
$main_blue: #00346E
$selected_blue: #008AA2
$background: #FFFF
$button_hover: #2B6FF5

// Margins
$eightclamp: clamp(4px,0.4166666666666667vw,16px)
$sixteenclamp: clamp(8px,0.8333333333333334vw,32px)
$twentyclamp: clamp(10px,1.0416666666666667vw,40px)

$thirtytwoclamp: clamp(16px,1.6666666666666667vw,64px)
$sixtyfourclamp: clamp(32px,3.3333333333333335vw,128px)
$onetwoeightclamp: clamp(64px,6.666666666666667vw,256px)
$twofivesixclamp: clamp(128px,13.333333333333334vw,512px)

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')

*
    margin: 0
    padding: 0

    body
        width: 100%
        height: auto
        font-family: 'Raleway', sans-serif
        background-color: $background !important
        font-display: fallback
        overflow-x: hidden !important

        .in-stock-screen
            width: 100%
            height: auto
            display: flex
            margin: auto
            background-color: white
            flex-direction: column

            .deco-picture
                position: absolute
                width: 683.28px
                height: 680.74px
                left: 0.73px
                top: clamp(2998px,312.2916666666667vw, 11992px)
                z-index: 0

            .arrow
                position: absolute
                width: 284.64px
                height: 247.94px
                left: 968.48px
                top: clamp(3116.5px,324.6354166666667vw,12466px)

            .in-stock-container
                width: 86.45833333333333%
                height: auto
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                margin: auto
                margin-top: clamp( 50px,5.208333333333333vw,200px)
                justify-content: space-between

                .in-stock-heading-container
                    display: flex
                    flex-direction: column
                    align-items: center

                    .in-stock-heading
                        font-family: 'Roboto Condensed'
                        font-style: normal
                        font-weight: 700
                        font-size: clamp(22.5px,2.34375vw,90px)
                        text-transform: uppercase
                        color: $main_blue

                    .separator
                        width: clamp(174.5px,18.177083333333332vw,698px)
                        height: 1px
                        margin-top: $sixteenclamp
                        background-color: $main_blue

                .in-stock-content
                    width: 100%
                    display: flex
                    justify-content: space-between
                    margin-top: clamp( 50px,5.208333333333333vw,200px)
                    margin-bottom: clamp( 50px,5.208333333333333vw,200px)

                    .jintropine-card
                        width: clamp(210px,21.875vw,840px)
                        height: clamp(352.5px,36.71875vw,1410px)
                        background: #F4F5F8
                        border: 4px solid #C5D8FC
                        border-radius: 15px
                        display: flex
                        z-index: 10
                        flex-direction: column

                        .jintropine-image
                            width: clamp(195.39px,20.353125vw,781.56px)
                            height: clamp(143.295px,14.926562499999998vw,573.18px)
                            display: flex
                            margin-left: clamp(7.5px,0.78125vw,30px)
                            margin-top: clamp(7.5px,0.78125vw,30px)
                            border-radius: 10px

                        .card-content-jin
                            margin-left: clamp(7.5px,0.78125vw,30px)
                            display: flex
                            flex-direction: column
                            margin-bottom: clamp(25px,2.6041666666666665vw,100px)

                            .growth-hormone
                                font-family: 'Raleway'
                                font-style: normal
                                font-weight: 500
                                font-size: clamp(9px,0.9375vw,36px)
                                margin-top: clamp(10.5px,1.09375vw,42px)
                                color: rgba(0, 52, 110, 0.3)

                            .card-heading
                                font-family: 'Roboto Condensed'
                                font-style: normal
                                font-weight: 600
                                font-size: clamp(12px,1.25vw,48px)
                                line-height: 138.4%
                                text-transform: capitalize
                                margin-top: $eightclamp
                                color: #00346E

                            .p-description
                                font-family: 'Raleway'
                                font-style: normal
                                font-weight: 500
                                font-size: clamp(8.5px,0.8854166666666666vw,34px)
                                color: $main_blue
                                margin-top: $sixteenclamp

                            .in-stock
                                font-family: 'Raleway'
                                font-style: normal
                                font-weight: 500
                                font-size: clamp(9px,0.9375vw,36px)
                                color: #52C41A
                                margin-top: $sixteenclamp

                            .price
                                font-family: 'Roboto Condensed'
                                font-style: normal
                                font-weight: 700
                                font-size: clamp(16.5px,1.71875vw,66px)
                                color: #00346E
                                margin: auto
                                margin-top: $thirtytwoclamp

                            .stock-button
                                width: clamp(170.74px,17.785416666666666vw,682.96px)
                                height: clamp(27.365px,2.8505208333333334vw,109.46px)
                                background-color: $red
                                font-family: 'Roboto Condensed'
                                font-style: normal
                                font-weight: 700
                                font-size: clamp(11.5px,1.1979166666666667vw,46px)
                                color: white
                                margin: auto
                                margin-top: $sixteenclamp
                                border-radius: 50px
                                &:hover
                                    background-color: $button_hover

                    .jintropine-paragraph
                        width: clamp(420px,43.75vw,1680px)
                        font-family: 'Raleway'
                        font-style: normal
                        font-weight: 500
                        font-size: clamp(13px,1.3541666666666667vw,52px)
                        text-align: right
                        color: #1E1E1E
