$red: #D23127
$light_red: #EEA6A1
$main_cream: #EDE9D0
$main_blue: #00346E
$selected_blue: #008AA2
$background: #FFF6F4

// Margins
$eightclamp: clamp(4px,0.4166666666666667vw,16px)
$sixteenclamp: clamp(8px,0.8333333333333334vw,32px)
$twentyclamp: clamp(10px,1.0416666666666667vw,40px)

$thirtytwoclamp: clamp(16px,1.6666666666666667vw,64px)
$sixtyfourclamp: clamp(32px,3.3333333333333335vw,128px)
$onetwoeightclamp: clamp(64px,6.666666666666667vw,256px)
$twofivesixclamp: clamp(128px,13.333333333333334vw,512px)

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url(//db.onlinewebfonts.com/c/8cc0b009c1f2d4b2e9567cc6e9579891?family=FTYStrategycideCASW01-Rg)

*
    margin: 0
    padding: 0

    body
        width: 100%
        height: auto
        font-family: 'Gothic A1', sans-serif
        background-color: $background

        .contacts
            width: 100%
            height: auto
            display: flex
            flex-direction: column

            .contacts-container
                width: 86.45833333333333%
                height: auto
                display: flex
                flex-direction: column
                margin: auto

                .contacts-heading-container
                    width: auto
                    height: auto
                    display: flex
                    align-items: center
                    flex-direction: column
                    margin-top: $sixtyfourclamp

                    .contacts-heading
                        font-family: 'FTY STRATEGYCIDE NCV'
                        font-style: normal
                        font-weight: 400
                        font-size: clamp(30px,3.125vw,120px)
                        margin: auto
                        color: $main_blue

                    .separator
                        width: clamp(295px,30.729166666666668vw,1180px)
                        height: 1px
                        background-color: $main_blue
                        margin-top: $sixteenclamp

                .contacts-main-content
                    width: 100%
                    height: auto
                    display: flex
                    align-items: flex-start
                    justify-content: space-between
                    margin-top: clamp(50px,5.208333333333333vw,200px)
                    margin-bottom: clamp( 61px,6.354166666666667vw,244px)

                    .contacts-content
                        display: flex
                        flex-direction: column

                        .section-heading
                            width: clamp(307.5px,32.03125vw,1230px)
                            font-family: 'FTY STRATEGYCIDE NCV'
                            font-style: normal
                            font-weight: 400
                            font-size: clamp(22.5px,2.34375vw,90px)
                            color: #D23127

                        .section-paragraph
                            width: clamp(316.5px,32.96875vw,1266px)
                            font-family: 'Blinker'
                            font-style: normal
                            font-weight: 400
                            font-size: clamp(15px,1.5625vw,60px)
                            color: #00346E
                            margin-top: $sixteenclamp

                    .form
                        width: auto
                        height: auto
                        display: flex
                        flex-direction: column
                        align-items: center

                        input
                            width: clamp(266.5px,27.760416666666668vw,1066px)
                            height: clamp(24px,2.5vw,96px)
                            background-color: rgba(210, 49, 39, 0.1)
                            font-family: 'Gothic A1', sans-serif
                            font-style: normal
                            font-weight: 500
                            font-size: clamp(10px,1.0416666666666667vw,40px)
                            color: #D23127
                            cursor: pointer
                            border: 2px solid $red
                            border-radius: 4px
                            padding-left: 16px
                            &:focus
                                outline: none
                                border: 2px solid $main_blue

                        input::placeholder
                            font-family: 'Gothic A1', sans-serif
                            font-style: normal
                            font-weight: 500
                            font-size: clamp(10px,1.0416666666666667vw,40px)
                            color: #D23127

                        .phone-input, .email-input, .city-input
                            margin-top: $thirtytwoclamp

                        .submit-button
                            width: clamp(221.5px,23.072916666666668vw,886px)
                            height: clamp(29px,3.0208333333333335vw,116px)
                            font-family: 'FTY STRATEGYCIDE NCV'
                            font-style: normal
                            font-weight: 400
                            font-size: clamp(14.75px,1.5364583333333333vw,59px)
                            display: flex
                            align-items: center
                            justify-content: center
                            border-radius: 4px
                            background-color: $red
                            margin-top: $sixtyfourclamp
                            color: $background
                            &:hover
                                background-color: #B52B21
