$red: #588EF7
$light_red: #EEA6A1
$main_cream: #F4F5F8
$main_blue: #00346E
$selected_blue: #008AA2
$background: #FFFF
$button_hover: #2B6FF5

// Margins
$eightclamp: clamp(4px,0.4166666666666667vw,16px)
$sixteenclamp: clamp(8px,0.8333333333333334vw,32px)
$twentyclamp: clamp(10px,1.0416666666666667vw,40px)

$thirtytwoclamp: clamp(16px,1.6666666666666667vw,64px)
$sixtyfourclamp: clamp(32px,3.3333333333333335vw,128px)
$onetwoeightclamp: clamp(64px,6.666666666666667vw,256px)
$twofivesixclamp: clamp(128px,13.333333333333334vw,512px)

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')

*

    body

        .useful-fin
            width: 100%
            height: auto
            display: flex
            flex-direction: column
            background-color: #022B6B

            .useful-container
                width: 86.45833333333333%
                height: auto
                display: flex
                flex-direction: column
                margin: auto
                // border: 2px solid blue

                .useful-heading-container
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    margin: auto
                    margin-top: $sixtyfourclamp

                    .useful-heading
                        font-family: 'Unbounded'
                        font-style: normal
                        font-weight: 700
                        font-size: clamp(19px, 1.9791666666666667vw,76px)
                        text-transform: uppercase
                        color: white

                    .best-hormone
                        font-family: 'Unbounded'
                        font-style: normal
                        font-weight: 600
                        font-size: clamp(13px,1.3541666666666667vw,52px)
                        color: #FCEE03

                    .best-hormone-white
                        font-family: 'Unbounded'
                        font-style: normal
                        font-weight: 600
                        font-size: clamp(13px,1.3541666666666667vw,52px)
                        color: white
                        margin-top: $sixtyfourclamp

                .qualified-product
                    width: clamp(350px,36.458333333333336vw,1400px)
                    font-family: 'Unbounded'
                    font-style: normal
                    font-weight: 600
                    font-size: clamp(13px,1.3541666666666667vw,52px)
                    text-align: center
                    color: white
                    margin: auto
                    margin-top: $onetwoeightclamp
                    margin-bottom: $sixtyfourclamp

                    .separator
                        width: clamp(174.5px,18.177083333333332vw,698px)
                        height: 1px
                        margin-top: $sixteenclamp
                        background-color: $main_blue
                        display: none
                .cards
                    width: 100%
                    height: auto
                    display: flex
                    align-items: flex-start
                    justify-content: space-between
                    margin-top: clamp(75px,7.8125vw,200px)

                    .card-one-li
                        display: flex
                        align-items: center
                        justify-content: flex-start
                        flex-direction: column

                        .muscle-up-icon, .lightning-icon, .protection-icon, .anti-pills-icon, .delivery-icon
                            width: clamp(71px,7.395833333333333vw,284px)
                            height: clamp(75px,7.8125vw,300px)

                        .paragraph
                            width: clamp(150px,15.625vw,600px)
                            text-align: center
                            font-family: 'Unbounded'
                            font-style: normal
                            font-weight: 300
                            color: white
                            font-size: clamp(10px,1.0416666666666667vw,40px)
                            margin-top: $sixtyfourclamp

@media screen  and (max-width: 448px)

    .useful-fin
        width: 100%
        height: auto
        display: flex
        flex-direction: column
        background-color: $red

        .useful-container
            width: 86.45833333333333%
            height: auto
            display: flex
            flex-direction: column
            margin: auto
                // border: 2px solid blue

            .useful-heading-container
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                margin: auto
                margin-top: clamp(32px,14.953271028037383vw,128px) !important

                .useful-heading
                    font-family: 'Roboto Condensed' !important
                    font-style: normal !important
                    font-weight: 700 !important
                    font-size: clamp(18px,8.411214953271028vw,72px) !important
                    text-transform: uppercase !important
                    color: $main_blue !important

                .separator
                    width: clamp(295px,30.729166666666668vw,1180px)
                    height: 1px
                    background-color: #EDE9D0
                    margin-top: clamp(16px,7.4766355140186915vw,64px) !important

            .cards
                width: 100%
                height: auto
                display: flex
                flex-direction: column !important
                align-items: center
                justify-content: space-between
                margin-top: clamp(35px, 3.6458333333333335vw, 140px)

                .power-card, .muscle-card, .imm-card
                    width: clamp(182px,85.04672897196262vw,728px)
                    height: clamp(231px,107.94392523364486vw,924px)
                    display: flex
                    flex-direction: column
                    border-radius: 6px
                    align-items: center
                    cursor: pointer
                    background-color: $main_cream
                    transition: 0.3s all
                    margin-bottom: clamp(40px,4.166666666666667vw,160px)

                    .power-circle, .muscle-circle, .imm-circle
                        width: clamp(53px,24.766355140186917vw,212px)
                        height: clamp(53px,24.766355140186917vw,212px)
                        background: #B5CCF8
                        border-radius: 100%
                        display: flex
                        align-items: center
                        justify-content: center
                        border: 5px solid #4A6E98
                        margin-top: clamp(20.5px, 2.1354166666666665vw, 82px)

                        .dumbbell-icon, .heart-icon, .weight-icon
                            font-size: clamp(25px,11.682242990654206vw,100px) !important
                            color: #4A6E98

                    .imm-c-heading, .power-c-heading, .muscle-c-heading
                        font-size: clamp(18.5px,8.644859813084112vw,74px)

                    .power-c-p, .muscle-c-p, .imm-c-p
                        width: clamp(139px,64.95327102803738vw,556px)
                        font-size: clamp(12.5px,5.841121495327103vw,50px)

            .shop-button
                width: clamp(173.5px,81.07476635514018vw,694px) !important
                height: clamp(32px,14.953271028037383vw,128px) !important
                border: 4px solid $main_cream !important
                font-size: clamp(14px,6.542056074766355vw,56px) !important
