$red: #588EF7
$light_red: #EEA6A1
$main_cream: #F4F5F8
$main_blue: #00346E
$selected_blue: #008AA2
$background: #FFFF
$button_hover: #2B6FF5

// Margins
$eightclamp: clamp(4px,0.4166666666666667vw,16px)
$sixteenclamp: clamp(8px,0.8333333333333334vw,32px)
$twentyclamp: clamp(10px,1.0416666666666667vw,40px)

$thirtytwoclamp: clamp(16px,1.6666666666666667vw,64px)
$sixtyfourclamp: clamp(32px,3.3333333333333335vw,128px)
$onetwoeightclamp: clamp(64px,6.666666666666667vw,256px)
$twofivesixclamp: clamp(128px,13.333333333333334vw,512px)

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')

*
    margin: 0
    padding: 0

    body
        width: 100%
        height: auto
        font-family: 'Raleway', sans-serif
        background-color: $background !important
        font-display: fallback
        overflow-x: hidden !important

        .indication-screen
            width: 100%
            height: auto
            display: flex
            margin: auto
            background-color: white
            flex-direction: column

            .indication-container
                width: 86.45833333333333%
                height: auto
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                margin: auto
                margin-top: clamp( 50px,5.208333333333333vw,200px)
                justify-content: space-between

                .indication-heading-container
                    display: flex
                    flex-direction: column
                    align-items: center

                    .indication-heading
                        font-family: 'Roboto Condensed'
                        font-style: normal
                        font-weight: 700
                        font-size: clamp(22.5px,2.34375vw,90px)
                        text-transform: uppercase
                        color: $main_blue

                    .separator
                        width: clamp(174.5px,18.177083333333332vw,698px)
                        height: 1px
                        margin-top: $sixteenclamp
                        background-color: $main_blue

                .button-indication
                    width: clamp(322px,33.541666666666664vw,1288px)
                    margin: auto
                    display: flex
                    align-items: center
                    justify-content: space-between
                    margin-top: clamp(50px,5.208333333333333vw,200px)

                    .protiv-indication-not
                        width: clamp(153px,15.9375vw,612px)
                        height: clamp(24.5px,2.5520833333333335vw,98px)
                        border: 3px solid #588EF7
                        border-radius: 58px
                        font-family: 'Roboto Condensed'
                        font-style: normal
                        font-weight: 500
                        font-size: clamp(12px,1.25vw,48px)
                        background-color: transparent
                        color: #588EF7
                        &:hover
                            background-color: $button_hover
                            color: white
                            border: none

                    .indication-button-choosen
                        width: clamp(153px,15.9375vw,612px)
                        height: clamp(24.5px,2.5520833333333335vw,98px)
                        border-radius: 58px
                        font-family: 'Roboto Condensed'
                        font-style: normal
                        font-weight: 500
                        font-size: clamp(12px,1.25vw,48px)
                        color: white
                        background-color: #588EF7
                        &:hover
                            background-color: $button_hover

                    .indication-button-not
                        width: clamp(153px,15.9375vw,612px)
                        height: clamp(24.5px,2.5520833333333335vw,98px)
                        border: 3px solid #588EF7
                        border-radius: 58px
                        font-family: 'Roboto Condensed'
                        font-style: normal
                        font-weight: 500
                        font-size: clamp(12px,1.25vw,48px)
                        color: #588EF7
                        &:hover
                            background-color: $button_hover
                            color: white
                            border: none

                    .protiv-indication-choosen
                        width: clamp(153px,15.9375vw,612px)
                        height: clamp(24.5px,2.5520833333333335vw,98px)
                        border-radius: 58px
                        font-family: 'Roboto Condensed'
                        font-style: normal
                        font-weight: 500
                        font-size: clamp(12px,1.25vw,48px)
                        color: white
                        background-color: #588EF7
                        &:hover
                            background-color: $button_hover

                .cards-indication
                    width: 100%
                    display: flex
                    justify-content: space-between
                    align-items: center

                    .card-content
                        width: clamp(263px,27.395833333333332vw,1052px)
                        height: clamp(141.805px,14.771354166666667vw,567.22px)
                        display: flex
                        flex-direction: column
                        border: 3px solid #F4F5F8
                        border-radius: 15px
                        margin-top: clamp(50px,5.208333333333333vw,200px)

                        .card-heading-container
                            display: flex
                            align-items: center
                            margin-top: $thirtytwoclamp
                            margin-left: $thirtytwoclamp

                            .card-header
                                font-family: 'Roboto Condensed'
                                font-style: normal
                                font-weight: 500
                                font-size: clamp(14px,1.4583333333333333vw,56px)
                                color: $red
                                margin-left: $eightclamp

                            .icon-check
                                color: $red
                                font-size: clamp(14px,1.4583333333333333vw,56px)

                        .card-paragraph
                            width: clamp(222.5px,23.177083333333332vw,890px)
                            font-family: 'Raleway'
                            font-style: normal
                            font-weight: 500
                            font-size: clamp(10.5px,1.09375vw,42px)
                            margin-top: $thirtytwoclamp
                            margin-left: $thirtytwoclamp
                            margin-bottom: $thirtytwoclamp

                .medical-indication
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-top: clamp(27.5px,2.8645833333333335vw,110px)

                    .medical-ind-text
                        width: clamp(257px,26.770833333333332vw,1028px)
                        font-family: 'Raleway'
                        font-style: normal
                        font-weight: 600
                        font-size: clamp(13.5px,1.40625vw,54px)
                        text-align: center
                        color: #1E1E1E

                    .medical-ind-link
                        font-family: 'Raleway'
                        font-style: normal
                        font-weight: 700
                        font-size: clamp(14px,1.4583333333333333vw,56px)
                        text-align: center
                        text-decoration-line: underline
                        color: $main_blue
                        margin-top: $thirtytwoclamp
                        margin-bottom: clamp(50px,5.208333333333333vw,200px)

@media screen  and (max-width: 448px)

    .indication-screen
        width: 100%
        height: auto
        display: flex
        flex-direction: column
        margin-top: $sixtyfourclamp
        background-color: $main_cream
        margin-bottom: clamp(50px,5.208333333333333vw,200px)

        .indication-container
            width: 86.45833333333333%
            height: auto
            display: flex
            flex-direction: column
            margin: auto

            .indication-heading-container
                width: 100%
                margin-top: $sixtyfourclamp
                display: flex !important
                align-items: center !important
                flex-direction: column !important

                .indication-heading
                    font-family: 'Roboto Condensed' !important
                    font-style: normal !important
                    font-weight: 700 !important
                    font-size: clamp(18px,8.411214953271028vw,72px) !important
                    text-transform: uppercase !important
                    color: $main_blue !important
                    text-align: center !important

            .button-indication
                display: flex !important
                flex-direction: column !important

                .protiv-indication-not, .indication-button-choosen
                    width: clamp(135px,65.21739130434783vw,540px) !important
                    height: clamp(23.5px,11.352657004830919vw,94px) !important
                    font-size: clamp(10.5px,5.072463768115942vw,42px) !important

                .indication-button-choosen
                    margin-top: clamp(16px,8.205128205128204vw,64px) !important

            .cards-indication
                display: flex
                flex-direction: column

                .card-content
                    width: clamp(155px,79.48717948717949vw,620px) !important
                    height: clamp(130px,66.66666666666667vw,520px) !important
                    display: flex !important
                    flex-direction: column !important
                    align-items: center !important
                    border: 3px solid #F4F5F8
                    border-radius: 15px

                    .card-heading-container
                        display: flex !important
                        align-items: center !important
                        justify-content: center !important
                        margin-left: 0px !important
                        margin-right: 0px !important

                        .icon-check, .card-header
                            font-size: clamp(9.5px,4.871794871794871vw,38px) !important

                    .card-paragraph
                        font-size: clamp(8.25px,4.230769230769231vw,33px) !important
                        text-align: center

            .medical-indication
                display: flex
                flex-direction: column

                .medical-ind-text
                    font-size: clamp(9px,4.615384615384615vw,36px) !important
                    margin-top: clamp(16px,8.205128205128204vw,64px) !important

                .medical-ind-link
                    font-size: clamp(9px,4.615384615384615vw,36px) !important
