@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(//db.onlinewebfonts.com/c/8cc0b009c1f2d4b2e9567cc6e9579891?family=FTYStrategycideCASW01-Rg);
* body button, * body a {
  cursor: pointer;
  transition: 0.3s all;
}
* body .about-jin {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
  background-color: #EDE9D0;
}
* body .about-jin .about-jin-container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}
* body .about-jin .about-jin-container .about-proto {
  width: clamp(325px, 33.8541666667vw, 1300px);
  height: clamp(275px, 28.6458333333vw, 1100px);
  margin-top: clamp(37.5px, 3.90625vw, 150px);
  margin-bottom: clamp(45px, 4.6875vw, 180px);
}
* body .about-jin .about-jin-container .about-heading-container {
  margin: auto;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
  display: flex;
  align-items: center;
  flex-direction: column;
}
* body .about-jin .about-jin-container .about-heading-container .about-heading {
  font-family: "FTY STRATEGYCIDE NCV";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(30px, 3.125vw, 120px);
  color: #D23127;
}
* body .about-jin .about-jin-container .about-heading-container .separator {
  width: clamp(295px, 30.7291666667vw, 1180px);
  height: 1px;
  margin-top: clamp(8px, 0.8333333333vw, 32px);
  background-color: #D23127;
}
* body .about-jin .about-jin-container .about-content {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}
* body .about-jin .about-jin-container .about-content .about-paragraph {
  width: clamp(381.5px, 39.7395833333vw, 1526px);
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(14px, 1.4583333333vw, 46px);
  color: #00346E;
}
* body .about-jin .about-jin-container .about-content .more-info {
  width: clamp(212.5px, 22.1354166667vw, 850px);
  height: clamp(32px, 3.3333333333vw, 128px);
  background-color: #D23127;
  font-family: "FTY STRATEGYCIDE NCV";
  font-style: normal;
  font-weight: 400;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
  color: #FFF6F4;
  font-size: clamp(14.5px, 1.5104166667vw, 58px);
  border-radius: 6px;
}
* body .about-jin .about-jin-container .about-content .more-info:hover {
  background-color: #B52B21;
}

@media screen and (max-width: 428px) {
  .about-jin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: clamp(32px, 3.3333333333vw, 128px);
    background-color: #EDE9D0;
  }
  .about-jin .about-jin-container {
    width: 86.4583333333%;
    height: auto;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    margin: auto !important;
  }
  .about-jin .about-jin-container .about-proto {
    display: none !important;
  }
  .about-jin .about-heading-container {
    margin: auto;
    margin-top: clamp(32px, 14.953271028vw, 128px) !important;
    display: flex;
    align-items: center !important;
    flex-direction: column;
  }
  .about-jin .about-heading-container .about-heading {
    font-family: "FTY STRATEGYCIDE NCV";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(18px, 8.4112149533vw, 72px) !important;
    color: #D23127;
  }
  .about-jin .about-heading-container .separator {
    width: clamp(145.5px, 67.9906542056vw, 582px);
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
  }
  .about-jin .about-content {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
  .about-jin .about-content .about-paragraph {
    width: clamp(180px, 84.1121495327vw, 720px) !important;
    height: auto;
    font-size: clamp(12.5px, 5.8411214953vw, 50px) !important;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
    font-weight: 500 !important;
    margin: auto;
    text-align: center;
  }
  .about-jin .more-info {
    width: clamp(173.5px, 81.0747663551vw, 694px) !important;
    height: clamp(34px, 15.8878504673vw, 136px) !important;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
    margin-bottom: clamp(32px, 14.953271028vw, 128px) !important;
    font-size: clamp(12.5px, 5.8411214953vw, 50px) !important;
  }
}/*# sourceMappingURL=about_jin_styles.css.map */