$red: #D23127
$light_red: #EEA6A1
$main_cream: #EDE9D0
$main_blue: #00346E
$selected_blue: #008AA2
$background: #FFF6F4
$button_hover: #B52B21

// Margins
$eightclamp: clamp(4px,0.4166666666666667vw,16px)
$sixteenclamp: clamp(8px,0.8333333333333334vw,32px)
$twentyclamp: clamp(10px,1.0416666666666667vw,40px)

$thirtytwoclamp: clamp(16px,1.6666666666666667vw,64px)
$sixtyfourclamp: clamp(32px,3.3333333333333335vw,128px)
$onetwoeightclamp: clamp(64px,6.666666666666667vw,256px)
$twofivesixclamp: clamp(128px,13.333333333333334vw,512px)

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url(//db.onlinewebfonts.com/c/8cc0b009c1f2d4b2e9567cc6e9579891?family=FTYStrategycideCASW01-Rg)

*
    margin: 0
    padding: 0

    body
        width: 100%
        height: auto
        font-family: 'Gothic A1', sans-serif
        background-color: $background

        button, a
            cursor: pointer
            transition: 0.3s all
            border: none

        .main-screen
            width: 100%
            height: auto
            display: flex
            margin: auto
            flex-direction: column

            .separator
                width: 86.45833333333333%
                height: 1px
                background-color: $main_blue
                margin: auto
                margin-top: $thirtytwoclamp

            .container
                width: 86.45833333333333%
                height: auto
                display: flex
                margin: auto
                margin-top: clamp( 50px,5.208333333333333vw,200px)
                justify-content: space-between

                .proto-photo
                    width: clamp(336.5px,35.052083333333336vw,1346px)
                    height: clamp(289px,30.104166666666668vw,1156px)

                .main-heading
                    width: clamp(350px,36.458333333333336vw,1400px)
                    height: clamp(80px,8.333333333333334vw,320px)
                    font-family: 'FTY STRATEGYCIDE NCV', sans-serif,
                    font-weight: 400
                    font-size: clamp(32.5px,3.3854166666666665vw,130px)
                    color: #00346E

                .description
                    width: clamp(391.5px ,40.78125vw, 1566px)
                    height: clamp(54px,5.625vw,216px)
                    font-family: 'Gothic A1', sans-serif
                    font-style: normal
                    font-weight: 500
                    font-size: clamp(14px,1.4583333333333333vw,46px)
                    margin-top: $thirtytwoclamp
                    color: #00346E

                .buttons
                    width: auto
                    height: auto
                    display: flex
                    margin-top: clamp(42.5px,4.427083333333333vw,170px)

                    .main-button
                        width: clamp(179px,18.645833333333332vw,716px)
                        height: clamp(35px,3.6458333333333335vw,140px)
                        background-color: $red
                        font-family: 'FTY STRATEGYCIDE NCV'
                        font-style: normal
                        display: flex
                        align-items: center
                        justify-content: center
                        font-weight: 400
                        border: none
                        color: $background
                        border-radius: 6px
                        font-size: clamp(14.5px,1.5104166666666667vw,58px)
                        &:hover
                            background-color: $button_hover

                        .telegram-icon
                            margin-right: clamp(6px,0.625vw,24px)

                    .more-button
                        width: clamp(179px,18.645833333333332vw,716px)
                        height: $sixtyfourclamp
                        font-family: 'FTY STRATEGYCIDE NCV'
                        font-style: normal
                        font-weight: 400
                        border: 3px solid $red
                        display: flex
                        align-items: center
                        justify-content: center
                        color: $red
                        background-color: transparent
                        font-size: clamp(14.5px,1.5104166666666667vw,58px)
                        margin-left: $thirtytwoclamp
                        border-radius: 6px
                        &:hover
                            background-color: $red
                            color: $background

@media screen  and (max-width: 428px)

    .main-screen
        width: 100%
        height: auto
        display: flex
        margin: auto
        flex-direction: column

        .separator
            display: none

        .container
            width: 86.45833333333333%
            height: auto
            display: flex
            flex-direction: column

            .proto-photo
                display: none

            .main-content

                .main-heading
                    width: clamp(149.5px,69.85981308411215vw,598px) !important
                    height: clamp(118px,55.14018691588785vw,472px) !important
                    font-family: 'FTY STRATEGYCIDE NCV'
                    font-style: normal
                    margin: auto
                    font-weight: 400
                    font-size: clamp(27.5px,12.850467289719626vw,110px) !important
                    text-align: center

                .description
                    width: 300px !important
                    height: clamp(105px,49.06542056074766vw,420px) !important
                    text-align: center
                    margin: auto
                    font-weight: 400
                    font-size: clamp(12.5px,5.841121495327103vw,50px) !important
                    margin-top: clamp(32px,14.953271028037383vw,128px) !important

                .buttons
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    margin-top: clamp(40px,18.69158878504673vw,160px)

                    .main-button, .more-button
                        width: 84% !important
                        height: clamp(31.5px,14.719626168224298vw,126px) !important
                        font-size: clamp(12px,5.607476635514018vw,48px)
                        margin: auto

                    .main-button
                        height: clamp(34px,15.88785046728972vw,136px) !important

                    .more-button
                        width: 83% !important
                        margin-top: clamp(16px,7.4766355140186915vw,64px)
                        margin-bottom: clamp(32px,14.953271028037383vw,128px)
