@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(//db.onlinewebfonts.com/c/8cc0b009c1f2d4b2e9567cc6e9579891?family=FTYStrategycideCASW01-Rg);
* {
  margin: 0;
  padding: 0;
}
* body {
  width: 100%;
  height: auto;
  font-family: "Gothic A1", sans-serif;
  background-color: #FFF6F4;
  font-display: fallback;
}
* body button, * body a {
  cursor: pointer;
  transition: 0.3s all;
  border: none;
}
* body .main-screen {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
}
* body .main-screen .separator {
  width: 86.4583333333%;
  height: 1px;
  background-color: #00346E;
  margin: auto;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .main-screen .container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: clamp(50px, 5.2083333333vw, 200px);
  justify-content: space-between;
}
* body .main-screen .container .proto-photo {
  width: clamp(336.5px, 35.0520833333vw, 1346px);
  height: clamp(289px, 30.1041666667vw, 1156px);
}
* body .main-screen .container .main-heading {
  width: clamp(350px, 36.4583333333vw, 1400px);
  height: clamp(80px, 8.3333333333vw, 320px);
  font-family: "FTY STRATEGYCIDE NCV", sans-serif;
  font-weight: 400;
  font-size: clamp(32.5px, 3.3854166667vw, 130px);
  color: #00346E;
}
* body .main-screen .container .description {
  width: clamp(391.5px, 40.78125vw, 1566px);
  height: clamp(54px, 5.625vw, 216px);
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(14px, 1.4583333333vw, 46px);
  margin-top: clamp(16px, 1.6666666667vw, 64px);
  color: #00346E;
}
* body .main-screen .container .buttons {
  width: auto;
  height: auto;
  display: flex;
  margin-top: clamp(42.5px, 4.4270833333vw, 170px);
}
* body .main-screen .container .buttons .main-button {
  width: clamp(179px, 18.6458333333vw, 716px);
  height: clamp(35px, 3.6458333333vw, 140px);
  background-color: #D23127;
  font-family: "FTY STRATEGYCIDE NCV";
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border: none;
  color: #FFF6F4;
  border-radius: 6px;
  font-size: clamp(14.5px, 1.5104166667vw, 58px);
}
* body .main-screen .container .buttons .main-button:hover {
  background-color: #B52B21;
}
* body .main-screen .container .buttons .main-button .telegram-icon {
  margin-right: clamp(6px, 0.625vw, 24px);
}
* body .main-screen .container .buttons .more-button {
  width: clamp(179px, 18.6458333333vw, 716px);
  height: clamp(32px, 3.3333333333vw, 128px);
  font-family: "FTY STRATEGYCIDE NCV";
  font-style: normal;
  font-weight: 400;
  border: 3px solid #D23127;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D23127;
  background-color: transparent;
  font-size: clamp(14.5px, 1.5104166667vw, 58px);
  margin-left: clamp(16px, 1.6666666667vw, 64px);
  border-radius: 6px;
}
* body .main-screen .container .buttons .more-button:hover {
  background-color: #D23127;
  color: #FFF6F4;
}

@media screen and (max-width: 428px) {
  .main-screen {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  .main-screen .separator {
    display: none;
  }
  .main-screen .container {
    width: 86.4583333333%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main-screen .container .proto-photo {
    display: none;
  }
  .main-screen .container .main-content .main-heading {
    width: clamp(149.5px, 69.8598130841vw, 598px) !important;
    height: clamp(118px, 55.1401869159vw, 472px) !important;
    font-family: "FTY STRATEGYCIDE NCV";
    font-style: normal;
    margin: auto;
    font-weight: 400;
    font-size: clamp(27.5px, 12.8504672897vw, 110px) !important;
    text-align: center;
  }
  .main-screen .container .main-content .description {
    width: 300px !important;
    height: clamp(105px, 49.0654205607vw, 420px) !important;
    text-align: center;
    margin: auto;
    font-weight: 400;
    font-size: clamp(12.5px, 5.8411214953vw, 50px) !important;
    margin-top: clamp(32px, 14.953271028vw, 128px) !important;
  }
  .main-screen .container .main-content .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: clamp(40px, 18.691588785vw, 160px);
  }
  .main-screen .container .main-content .buttons .main-button, .main-screen .container .main-content .buttons .more-button {
    width: 84% !important;
    height: clamp(31.5px, 14.7196261682vw, 126px) !important;
    font-size: clamp(12px, 5.6074766355vw, 48px);
    margin: auto;
  }
  .main-screen .container .main-content .buttons .main-button {
    height: clamp(34px, 15.8878504673vw, 136px) !important;
  }
  .main-screen .container .main-content .buttons .more-button {
    width: 83% !important;
    margin-top: clamp(16px, 7.476635514vw, 64px);
    margin-bottom: clamp(32px, 14.953271028vw, 128px);
  }
}/*# sourceMappingURL=main_screen.css.map */