@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(//db.onlinewebfonts.com/c/8cc0b009c1f2d4b2e9567cc6e9579891?family=FTYStrategycideCASW01-Rg);
* body .more-info-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
* body .more-info-page .separator {
  width: 86.4583333333%;
  height: 1px;
  background-color: #00346E;
  margin: auto;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .more-info-page .more-info-container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: clamp(50px, 5.2083333333vw, 200px);
  justify-content: space-between;
  margin-bottom: clamp(100px, 10.4166666667vw, 400px);
}
* body .more-info-page .paragraph-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
* body .more-info-page .paragraph-container .info-paragraph {
  width: clamp(496.5px, 51.71875vw, 1986px);
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  color: #00346E;
  font-weight: 400;
  font-size: clamp(13px, 1.3541666667vw, 52px);
}
* body .more-info-page .buttons-container {
  width: auto;
  height: auto;
  display: flex;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
}
* body .more-info-page .buttons-container .go-back-button {
  width: clamp(179px, 18.6458333333vw, 716px);
  height: clamp(32px, 3.3333333333vw, 128px);
  font-family: "FTY STRATEGYCIDE NCV";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14.5px, 1.5104166667vw, 58px);
  color: #D23127;
  border: 4px solid #D23127;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.3s all;
}
* body .more-info-page .buttons-container .go-back-button:hover {
  color: #FFF6F4;
  background-color: #D23127;
}
* body .more-info-page .buttons-container .main-button {
  width: clamp(179px, 18.6458333333vw, 716px);
  height: clamp(32px, 3.3333333333vw, 128px);
  font-family: "FTY STRATEGYCIDE NCV";
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(14.5px, 1.5104166667vw, 58px);
  color: #FFF6F4;
  border-radius: 4px;
  background-color: #D23127;
  margin-left: clamp(16px, 1.6666666667vw, 64px);
  transition: 0.3s all;
}
* body .more-info-page .buttons-container .main-button:hover {
  background-color: #B52B21;
}
* body .more-info-page .buttons-container .main-button .telegram-icon {
  margin-right: clamp(6px, 0.625vw, 24px);
}
* body .more-info-page .more-info-img {
  width: clamp(283.405px, 29.5213541667vw, 1133.62px);
  height: clamp(279px, 29.0625vw, 1116px);
  left: clamp(608.595px, 63.3953125vw, 2434.38px);
  top: clamp(112px, 11.6666666667vw, 448px);
  position: absolute;
}

@media screen and (max-width: 428px) {
  .more-info-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
  .more-info-page .separator {
    display: none;
  }
  .more-info-page .paragraph-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .more-info-page .paragraph-container .info-paragraph {
    width: clamp(182px, 85.046728972vw, 728px) !important;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    color: #00346E;
    font-weight: 500 !important;
    text-align: center;
    font-size: clamp(9px, 4.2056074766vw, 36px) !important;
  }
}/*# sourceMappingURL=more-info.css.map */